@model Ivanti_FW.Models.TIS07ModelReq

@{
    ViewBag.Title = EA.GetMessage("CREATE");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
}


<style>
    .tooltip-master {
        display: none;
    }
</style>

@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//cdn.saudisystems.net/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/TIS/TIS07dashboard" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_TIS07")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@{
	 var  TLPCollection = EA.GetTLP(); 
	}
	

<form asp-action="CreateTIS07" asp-controller="TIS" method="POST" data-ajax="true" data-ajax-complete="fnCompleted" class="CreatePage" id="TIS07FrmID">

    @Html.AntiForgeryToken()


                            <!-- form start -->
                            <section class="form-horizontal center">
                                <div class="box-body">
                                    <div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("USERNAME")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS07.UserName, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS07.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("USERNAME"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("EMAIL")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS07.Email, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS07.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("EMAIL"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("REQUESTMOREINFORMATION")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS07.RequestMoreInformation, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS07.RequestMoreInformation, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("REQUESTMOREINFORMATION"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("SLA")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS07.SLA, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS07.SLA, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("SLA") } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("TLP")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS07.TLPId, "", new { @class = "text-danger" })
			@Html.DropDownListFor((m) => m.TIS07.TLPId, new SelectList(TLPCollection, "Key", "Value"), string.Format("{0} - {1}", EA.GetMessage("TLP"), EA.GetMessage("All")), new { @class = "form-control input-sm" })
		</div>
	</div>
	
				    
                                </div>

                            </section>
                      
<div class="modal-footer border-0 float-start">
         <button class="btn btn-primary btn-submit">@Html.GSText("ADD_TIS07")</button>
        <a href="/TIS/TIS07dashboard" class="btn btn-outline-primary">@Html.GSText("Cancel")</a>
       
    </div>

   
       
</form>



    <script type="text/javascript">
	$(document).ready(function () {
	
	
  	});

     function fnCompleted(msg) {
        NotifyMsg(msg.responseJSON.statusTitle, msg.responseJSON.statusMessage, msg.responseJSON.status);
        setTimeout(function () {
            window.location.href = "/TIS/TIS07Dashboard";
        }, 1000);
    };
</script>
