@model Ivanti_FW.Models.TIS08ModelReq

@{
    ViewBag.Title = EA.GetMessage("CREATE");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
}


<style>
    .tooltip-master {
        display: none;
    }
</style>

@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//cdn.saudisystems.net/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/TIS/TIS08dashboard" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_TIS08")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<form asp-action="CreateTIS08" asp-controller="TIS" method="POST" data-ajax="true" data-ajax-complete="fnCompleted" class="CreatePage" id="TIS08FrmID">

    @Html.AntiForgeryToken()


                            <!-- form start -->
                            <section class="form-horizontal center">
                                <div class="box-body">
                                    <div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("USERID")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS08.UserID, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS08.UserID, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("USERID") } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("USERNAME")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS08.UserName, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS08.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("USERNAME"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("ENTITYNAME")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS08.EntityName, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS08.EntityName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("ENTITYNAME"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("EMAIL")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS08.Email, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS08.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("EMAIL"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("RESPONSE")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.TIS08.Response, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.TIS08.Response, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("RESPONSE"), @maxlength = 200 } })
		</div>
	</div>
	
				    <div class="form-group File-upload-inline">
	                <div class="text-divider col-sm-12"><span>@Html.GSText("TIS08_FILES")</span></div>
	                <div class=" file-attachment-section">
	                    <div class="col-sm-12 div-upload-file">
	                        @{ Html.RenderPartial("UploadFileInline", new GSFunction.Models.UploadFileModel { FileTypes = ".doc,.pdf,.docx,.xls,.xlsx,.jpeg,.jpg,.png,.gif,.tif" });}
	                    </div>
	                </div>
	            </div>
	
                                </div>

                            </section>
                      
<div class="modal-footer border-0 float-start">
         <button class="btn btn-primary btn-submit">@Html.GSText("ADD_TIS08")</button>
        <a href="/TIS/TIS08dashboard" class="btn btn-outline-primary">@Html.GSText("Cancel")</a>
       
    </div>

   
       
</form>



    <script type="text/javascript">
	$(document).ready(function () {
	
	
  	});

     function fnCompleted(msg) {
        NotifyMsg(msg.responseJSON.statusTitle, msg.responseJSON.statusMessage, msg.responseJSON.status);
        setTimeout(function () {
            window.location.href = "/TIS/TIS08Dashboard";
        }, 1000);
    };
</script>
