
@{
    ViewBag.Title = EA.GetMessage("WORK_DASHBOARD");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";

}



@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//portalscdnstg.citc.gov.sa/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_MAIN")
                            </a>
                            <h1 class="page-title font-weight-bold page-header-element">
                                @Html.GSText("TIS05List")
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <a class="btn btn-primary btn-block btn-lg ms-md-auto mt-3 mt-lg-3 mt-xl-0 px-6" href="@Url.Action("CreateTIS05","TIS")" title="@EA.GetMessage("Create")">@EA.GetMessage("Create") <i class="glyphicon glyphicon-plus"></i></a>

                </div>
            </div>
        </div>
    </div>
}
@{ Html.RenderAction("TIS05Index");}

