@model Ivanti_FW.Models.TIS06SearchModel


@{
	 var  YesNoAnswerCollection = EA.GetYesNoAnswer(); 
	 var  TLPCollection = EA.GetTLP(); 
	}
	

<div class="search-form" id="div-search-emp">

    <form url="@Url.Action("TIS06ReqIndex")" id="TIS06SubmitIndex">
        <div class="row search-sec">
  	<div class="col-lg-12">
 		<div class="row">
		 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
		 @Html.DropDownListFor((m) => m.TIS06.IncedentDetected, new SelectList(YesNoAnswerCollection, "Key", "Value"), EA.GetMessage("All"), new { @class = "form-control input-sm" })
	 </div>
		 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
		 @Html.DropDownListFor((m) => m.TIS06.TLPId, new SelectList(TLPCollection, "Key", "Value"), EA.GetMessage("All"), new { @class = "form-control input-sm" })
	 </div>
		
  		<div class="col-lg-3 col-md-3 col-sm-12 p-0">

                        <button type="button" class="btn btn-primary wrn-btn btn-serach-submit"> <i class="fa fa-search" aria-hidden="true"></i> @Html.GSText("Search")</button>
                                <button type="button" formaction="@Url.Action("PrintTIS06ReqIndex", "TIS")" class="btn btn-default wrn-btn  GSSubmit"><i class="fa fa-print no-print" aria-hidden="true"></i>@Html.GSText("Print")</button>
                            </div>
				</div>
                    </div>
                </div>
               @Html.HiddenFor((m) => m.FieldType)
                    @Html.HiddenFor((m) => m.PageIndex)
                    @Html.HiddenFor((m) => m.PageSize)
                    @Html.HiddenFor((m) => m.SortField)
                    @Html.HiddenFor((m) => m.SortDirection)
		    
    </form>

    <div class="search-results" id="div-search-results">

    </div>


</div>

<script type="text/javascript">
    SubmitIndex($('#TIS06SubmitIndex'));
</script>













