@model Ivanti_FW.Models.RV03ModelReq

@{
    ViewBag.Title = EA.GetMessage("CREATE");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
}


<style>
    .tooltip-master {
        display: none;
    }
</style>

@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//cdn.saudisystems.net/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/RV/RV03dashboard" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_RV03")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@{
	 var  ClosureReasonCollection = EA.GetClosureReason(); 
	}
	

<form asp-action="CreateRV03" asp-controller="RV" method="POST" data-ajax="true" data-ajax-complete="fnCompleted" class="CreatePage" id="RV03FrmID">

    @Html.AntiForgeryToken()


                            <!-- form start -->
                            <section class="form-horizontal center">
                                <div class="box-body">
                                    <div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("ANALYSTNOTE")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.RV03.AnalystNote, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.RV03.AnalystNote, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("ANALYSTNOTE"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("TEAMLEADERNOTE")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.RV03.TeamLeaderNote, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.RV03.TeamLeaderNote, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("TEAMLEADERNOTE"), @maxlength = 200 } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("ClosureReason")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.RV03.ClosureReasonId, "", new { @class = "text-danger" })
			@Html.DropDownListFor((m) => m.RV03.ClosureReasonId, new SelectList(ClosureReasonCollection, "Key", "Value"), string.Format("{0} - {1}", EA.GetMessage("ClosureReason"), EA.GetMessage("All")), new { @class = "form-control input-sm" })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("CLOSINGNOTE")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.RV03.ClosingNote, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.RV03.ClosingNote, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("CLOSINGNOTE"), @maxlength = 200 } })
		</div>
	</div>
	
				    
                                </div>

                            </section>
                      
<div class="modal-footer border-0 float-start">
         <button class="btn btn-primary btn-submit">@Html.GSText("ADD_RV03")</button>
        <a href="/RV/RV03dashboard" class="btn btn-outline-primary">@Html.GSText("Cancel")</a>
       
    </div>

   
       
</form>



    <script type="text/javascript">
	$(document).ready(function () {
	
	
  	});

     function fnCompleted(msg) {
        NotifyMsg(msg.responseJSON.statusTitle, msg.responseJSON.statusMessage, msg.responseJSON.status);
        setTimeout(function () {
            window.location.href = "/RV/RV03Dashboard";
        }, 1000);
    };
</script>
