@model Ivanti.BusinessEntites.ImpactIncidentHeader


<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("ARABICNAME")</label>
		<div class="col-sm-8">
			@Model.ArabicName
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("ENGLISHNAME")</label>
		<div class="col-sm-8">
			@Model.EnglishName
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("LOWSCORE")</label>
		<div class="col-sm-8">
			@Model.LowScore
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("HIGHSCORE")</label>
		<div class="col-sm-8">
			@Model.HighScore
		</div>
	</div>
	







