@model Ivanti_FW.Models.AS01ModelReq

@{
    ViewBag.Title = EA.GetMessage("CREATE");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
}


<style>
    .tooltip-master {
        display: none;
    }
</style>

@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//portalscdnstg.citc.gov.sa/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/AS/AS01dashboard" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_AS01")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@{
    var ASDescriptionCollection = EA.GetASDescription();
}


<form asp-action="CreateAS01" asp-controller="AS" method="POST" data-ajax="true" data-ajax-complete="fnCompleted" class="CreatePage" id="AS01FrmID">

    @Html.AntiForgeryToken()


    <!-- form start -->
    <section class="form-horizontal center" style="margin-bottom:50px;">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("UserID")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.UserID, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AS01.UserID, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("UserID") } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("UserName")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.UserName, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AS01.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("UserName"), @maxlength = 200 } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("EntityName")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.EntityName, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AS01.EntityName, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("EntityName"), @maxlength = 200 } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("MobileNumber")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.MobileNumber, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AS01.MobileNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("MobileNumber") } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("Email")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.Email, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.AS01.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("Email"), @maxlength = 200 } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("SupportInformation")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.SupportInformation, "", new { @class = "text-danger" })
                    @Html.TextAreaFor(model => model.AS01.SupportInformation,  new { @class = "form-control mb-4", @placeholder = @Html.GSText("SupportInformation"), @maxlength = 4000 ,@rows = 4 } )
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("ASDescription")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.ASDescriptionId, "", new { @class = "text-danger" })
                    @Html.DropDownListFor((m) => m.AS01.ASDescriptionId, new SelectList(ASDescriptionCollection, "Key", "Value"), string.Format("{0} - {1}", EA.GetMessage("ASDescription"), EA.GetMessage("All")), new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">@Html.GSText("Notes")</label>
                <div class="col-sm-8">
                    @Html.ValidationMessageFor(model => model.AS01.Notes, "", new { @class = "text-danger" })
                    @Html.TextAreaFor(model => model.AS01.Notes,  new { @class = "form-control mb-4", @placeholder = @Html.GSText("Notes"), @maxlength = 4000 ,@rows = 4 } )
                </div>
            </div>

            <div class="form-group File-upload-inline">
                <div class="text-divider col-sm-12"><span>@Html.GSText("AS01_FILES")</span></div>
                <div class=" file-attachment-section">
                    <div class="col-sm-12 div-upload-file">
                        @{
                            Html.RenderPartial("UploadFileInline", new GSFunction.Models.UploadFileModel { FileTypes = ".doc,.pdf,.docx,.xls,.xlsx,.jpeg,.jpg,.png,.gif,.tif" });
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="float-end">
            <button class="btn btn-primary btn-submit">@Html.GSText("ADD_AS01")</button>
            <a href="/AS/AS01dashboard" class="btn btn-outline-primary">@Html.GSText("Cancel")</a>

        </div>
    </section>




</form>



<script type="text/javascript">
    $(document).ready(function () {
        $('.div-upload-file').initUpload({});

    });

    function fnCompleted(msg) {
        NotifyMsg(msg.responseJSON.statusTitle, msg.responseJSON.statusMessage, msg.responseJSON.status);
        setTimeout(function () {
            window.location.href = "/AS/AS01Dashboard";
        }, 1000);
    };
</script>
