@model Ivanti_FW.Models.SideBarItemsModel

@{
    ViewBag.Title = EA.GetMessage("WORK_DASHBOARD");

}

@*@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//portalscdnstg.citc.gov.sa/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <h1 class="page-title font-weight-bold page-header-element">
                                @if(LocalizationsManager.GetCurrentLanguage()=="ar")
                                {
                                    @Model.SideBarMenu.ArabicName
                                }
                                else
                                {
                                    @Model.SideBarMenu.EnglishName
                                }
                            </h1>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
}*@

<div class="row row-flex grid">
    @foreach (var item in Model.SideBarItemsList)
    {
        <div class="col-xl-4 col-lg-4 col-md-6 mb-2 grid-item filter-complaints service-box" id="service_2" data-service-category-id="3" data-service-name="تصعيد شكاوى الاتصالات" data-service-description="تتيح الخدمة للمستفيد تصعيد الشكوى لدى الهيئة في حال إغلاق الشكوى من قبل مقدم الخدمة دون معالجة أو مرور 5 أيام دون حل" data-service-is-favorite="False">
            <div class="service_item">
                <img src="@item.ImagePath" width="50" height="50">
                <div class="d-flex align-items-center mt-1">
                    @if (LocalizationsManager.GetCurrentLanguage() == "ar")
                    {
                        <h3 class="m-0">@item.ArabicName</h3>
                    }
                    else
                    {
                        <h3 class="m-0">@item.EnglishName</h3>
                    }

                </div>
                <div class="row btn-holder gx-2">

                    <div class="col">
                        <a href="@item.CreatePath" class="btn btn-block btn-primary">
                            <b>
                                @Html.GSText("Create")
                            </b>
                        </a>
                    </div>
                    <div class="col">
                        <a href="@item.Path" class="btn btn-block btn-secondary"><b>@Html.GSText("Details")</b></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
