@model Ivanti_FW.Models.IS02ModelReq

@{
    ViewBag.Title = EA.GetMessage("CREATE");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
}


<style>
    .tooltip-master {
        display: none;
    }
</style>

@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//portalscdnstg.citc.gov.sa/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/IS/IS02dashboard" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_IS02")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<form asp-action="CreateIS02" asp-controller="IS" method="POST" data-ajax="true" data-ajax-complete="fnCompleted" class="CreatePage" id="IS02FrmID">

    @Html.AntiForgeryToken()


                            <!-- form start -->
                            <section class="form-horizontal center">
                                <div class="box-body">
                                    <div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("UserID")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.IS02.UserID, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.IS02.UserID, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("UserID") } })
		</div>
	</div>
	<div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("PeriodicUpdate")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.IS02.PeriodicUpdate, "", new { @class = "text-danger" })
			@Html.EditorFor(model => model.IS02.PeriodicUpdate, new { htmlAttributes = new { @class = "form-control", @placeholder = @Html.GSText("PeriodicUpdate"), @maxlength = 200 } })
		</div>
	</div>
	
				    <div class="form-group File-upload-inline">
	                <div class="text-divider col-sm-12"><span>@Html.GSText("IS02_FILES")</span></div>
	                <div class=" file-attachment-section">
	                    <div class="col-sm-12 div-upload-file">
	                        @{ Html.RenderPartial("UploadFileInline", new GSFunction.Models.UploadFileModel { FileTypes = ".doc,.pdf,.docx,.xls,.xlsx,.jpeg,.jpg,.png,.gif,.tif" });}
	                    </div>
	                </div>
	            </div>
	
                                </div>

                            </section>
                      
<div class="modal-footer border-0 float-start">
         <button class="btn btn-primary btn-submit">@Html.GSText("ADD_IS02")</button>
        <a href="/IS/IS02dashboard" class="btn btn-outline-primary">@Html.GSText("Cancel")</a>
       
    </div>

   
       
</form>



    <script type="text/javascript">
	$(document).ready(function () {
	
	
  	});

     function fnCompleted(msg) {
        NotifyMsg(msg.responseJSON.statusTitle, msg.responseJSON.statusMessage, msg.responseJSON.status);
        setTimeout(function () {
            window.location.href = "/IS/IS02Dashboard";
        }, 1000);
    };
</script>
