@model Ivanti_FW.Models.IS01Model

@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<style>
    @@page {
        size: auto;
        margin: 30px;
    }

    tr {
        display: block;
    }

    @@media print {
        html {
            height: 100%;
        }

        .foootertr {
            page-break-after: always;
            page-break-inside: avoid;
        }

        .FooterPage {
            page-break-after: always;
            page-break-inside: avoid;
        }

        .no-print, .no-print * {
            display: none !important;
        }
    }

    .foootertr {
        page-break-after: always;
        page-break-inside: avoid;
    }


    .wrapper-table > table {
        width: 100%;
    }

    .HeaderDiv {
        margin: 0px;
        padding: 0px;
    }

    .trFullWidth {
        width: 842px;
    }

   .th1 { 
width: 3% 
} 
	.th2 { 
width: 3% 
} 
	.th3 { 
width: 3% 
} 
	.th4 { 
width: 3% 
} 
	.th5 { 
width: 3% 
} 
	.th6 { 
width: 3% 
} 
	.th7 { 
width: 3% 
} 
	.th8 { 
width: 3% 
} 
	.th9 { 
width: 3% 
} 
	.th10 { 
width: 3% 
} 
	.th11 { 
width: 3% 
} 
	.th12 { 
width: 3% 
} 
	.th13 { 
width: 3% 
} 
	.th14 { 
width: 3% 
} 
	.th15 { 
width: 3% 
} 
	.th16 { 
width: 3% 
} 
	.th17 { 
width: 3% 
} 
	.th18 { 
width: 3% 
} 
	.th19 { 
width: 3% 
} 
	.th20 { 
width: 3% 
} 
	.th21 { 
width: 3% 
} 
	.th22 { 
width: 3% 
} 
	.th23 { 
width: 3% 
} 
	.th24 { 
width: 3% 
} 
	.th25 { 
width: 3% 
} 
	.th26 { 
width: 3% 
} 
	.th27 { 
width: 3% 
} 
	.th28 { 
width: 3% 
} 
	.th29 { 
width: 3% 
} 
	.th30 { 
width: 3% 
} 
	.th31 { 
width: 3% 
} 
	

 

 





    .divbox {
        width: 32%;
        display: inline-block;
        margin: 0px 0;
        border-radius: 5px;
    }

        .divbox.headerLeft {
            text-align: right;
        }

        .divbox.headerRight {
            text-align: left;
        }

        .divbox img {
            display: block;
            margin: auto;
        }

        .divbox.headerMiddel {
            text-align: center;
        }

    #divx {
        width: 842px;
        margin: 30px;
        font-family: 'Janna LT Regular';
    }

    .MainTable {
        border-collapse: collapse;
        width: 842px;
        table-layout: fixed;
    }

    .InsideTable {
        width: 842px;
    }

        .InsideTable td {
            border: none;
        }

        .InsideTable th {
            border: none;
        }

    .MainTable td {
        border: 1px gray solid;
        padding: 2px;
        font-size: 14px;
        height: auto;
    }

    .MainTable th {
        border: 1px black solid;
        padding: 2px;
        font-size: 16px;
        height: auto;
    }
</style>


<div id="docx">
    <div id="divx">
        <div class="HeaderDiv">
            <div class="divbox headerRight">
                <p>
                  Ivanti
                </p>
                <p> Details</p>
                <p>  Saudi Arabia</p>
            </div>
            <div class="divbox">
                 <img src="//portalscdnstg.citc.gov.sa/V4/assets/images/brand/gate_logo_indv.svg" class="header-brand-img light-logo1" alt="logo">
            </div>
            <div class="divbox headerLeft">
                <p> </p>
                <p> </p>
            </div>
        </div>
        <div class="wrapper-table">
            <table class="MainTable" style="margin:0px;padding:0px;">

                <thead>
                    <tr class="theadResp">



                        <th class="DetailsDialog th1 " >@Html.GSText("USERID")</th>
	<th class="DetailsDialog th2 " >@Html.GSText("USERNAME")</th>
	<th class="DetailsDialog th3 " >@Html.GSText("ENTITYNAME")</th>
	<th class="DetailsDialog th4 " style="display:none;">@Html.GSText("EMAIL")</th>
	<th class="DetailsDialog th5 " style="display:none;">@Html.GSText("INCIDENTINFORMATION")</th>
	<th class="DetailsDialog th6 " style="display:none;">@Html.GSText("IncidentType")</th>
	<th class="DetailsDialog th7 " style="display:none;">@Html.GSText("INCIDENTDATE")</th>
	<th class="DetailsDialog th8 " style="display:none;">@Html.GSText("INCIDENTTIME")</th>
	<th class="DetailsDialog th9 " style="display:none;">@Html.GSText("IncidentHandled")</th>
	<th class="DetailsDialog th10 " style="display:none;">@Html.GSText("HANDLINGTIME")</th>
	<th class="DetailsDialog th11 " style="display:none;">@Html.GSText("CybersecurityIncidentCalculator")</th>
	<th class="DetailsDialog th12 " style="display:none;">@Html.GSText("ServiceProviderClassification")</th>
	<th class="DetailsDialog th13 " style="display:none;">@Html.GSText("ImpactedService")</th>
	<th class="DetailsDialog th14 " style="display:none;">@Html.GSText("SophisticationAttack")</th>
	<th class="DetailsDialog th15 " style="display:none;">@Html.GSText("ImpactTypeCompromise")</th>
	<th class="DetailsDialog th16 " style="display:none;">@Html.GSText("ImpactTypeDataLeakage")</th>
	<th class="DetailsDialog th17 " style="display:none;">@Html.GSText("ImpactTypeReputation")</th>
	<th class="DetailsDialog th18 " style="display:none;">@Html.GSText("ImpactTypeDisruption")</th>
	<th class="DetailsDialog th19 " style="display:none;">@Html.GSText("ImpactTypeDestruction")</th>
	<th class="DetailsDialog th20 " style="display:none;">@Html.GSText("ImpactAsset")</th>
	<th class="DetailsDialog th21 " style="display:none;">@Html.GSText("PublishedExternally")</th>
	<th class="DetailsDialog th22 " style="display:none;">@Html.GSText("RootCause")</th>
	<th class="DetailsDialog th23 " style="display:none;">@Html.GSText("AttackStatus")</th>
	<th class="DetailsDialog th24 " style="display:none;">@Html.GSText("TOTALSCORE")</th>
	<th class="DetailsDialog th25 " style="display:none;">@Html.GSText("ImpactIncident")</th>
	<th class="DetailsDialog th26 " style="display:none;">@Html.GSText("ImpactType")</th>
	<th class="DetailsDialog th27 " style="display:none;">@Html.GSText("ENTITESINFORMED")</th>
	<th class="DetailsDialog th28 " style="display:none;">@Html.GSText("IsDamagedSystem")</th>
	<th class="DetailsDialog th29 " style="display:none;">@Html.GSText("DAMAGEDSYSTEM")</th>
	<th class="DetailsDialog th30 " style="display:none;">@Html.GSText("ACTIONALREADYTAKEN")</th>
	<th class="DetailsDialog th31 " style="display:none;">@Html.GSText("IOCS")</th>
	




                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.IS01List)
                    {
                    <tr class="bodytr">
                       <td class="DetailsDialog th1 "  >@item.UserID</td>
	<td class="DetailsDialog th2 "  >@item.UserName</td>
	<td class="DetailsDialog th3 "  >@item.EntityName</td>
	<td class="DetailsDialog th4 " style="display:none;" >@item.Email</td>
	<td class="DetailsDialog th5 " style="display:none;" >@item.IncidentInformation</td>
	<td class="DetailsDialog th6" style="display:none;">@EA.GetIncidentType(@item.IncidentTypeId) </td>
	<td class="DetailsDialog th7 " style="display:none;" >@item.IncidentDate</td>
	<td class="DetailsDialog th8 " style="display:none;" >@item.IncidentTime</td>
	<td class="DetailsDialog th9" style="display:none;">@EA.GetYesNoAnswer(@item.IncidentHandled) </td>
	<td class="DetailsDialog th10 " style="display:none;" >@item.HandlingTime</td>
	<td class="DetailsDialog th11" style="display:none;">@EA.GetYesNoAnswer(@item.CybersecurityIncidentCalculator) </td>
	<td class="DetailsDialog th12" style="display:none;">@EA.GetServiceProviderClassification(@item.ServiceProviderClassificationId) </td>
	<td class="DetailsDialog th13" style="display:none;">@EA.GetImpactedService(@item.ImpactedServiceId) </td>
	<td class="DetailsDialog th14" style="display:none;">@EA.GetSophisticationAttack(@item.SophisticationAttackId) </td>
	<td class="DetailsDialog th15" style="display:none;">@EA.GetImpactTypeSeverity(@item.ImpactTypeCompromiseId) </td>
	<td class="DetailsDialog th16" style="display:none;">@EA.GetImpactTypeSeverity(@item.ImpactTypeDataLeakageId) </td>
	<td class="DetailsDialog th17" style="display:none;">@EA.GetImpactTypeSeverity(@item.ImpactTypeReputationId) </td>
	<td class="DetailsDialog th18" style="display:none;">@EA.GetImpactTypeSeverity(@item.ImpactTypeDisruptionId) </td>
	<td class="DetailsDialog th19" style="display:none;">@EA.GetImpactTypeSeverity(@item.ImpactTypeDestructionId) </td>
	<td class="DetailsDialog th20" style="display:none;">@EA.GetImpactAsset(@item.ImpactAssetId) </td>
	<td class="DetailsDialog th21" style="display:none;">@EA.GetPublishedExternally(@item.PublishedExternallyId) </td>
	<td class="DetailsDialog th22" style="display:none;">@EA.GetRootCause(@item.RootCauseId) </td>
	<td class="DetailsDialog th23" style="display:none;">@EA.GetAttackStatus(@item.AttackStatusId) </td>
	<td class="DetailsDialog th24 " style="display:none;" >@item.TotalScore</td>
	<td class="DetailsDialog th25" style="display:none;">@EA.GetImpactIncident(@item.ImpactIncidentId) </td>
	<td class="DetailsDialog th26" style="display:none;">@EA.GetImpactType(@item.ImpactTypeId) </td>
	<td class="DetailsDialog th27 " style="display:none;" >@item.EntitesInformed</td>
	<td class="DetailsDialog th28" style="display:none;">@EA.GetYesNoAnswer(@item.IsDamagedSystem) </td>
	<td class="DetailsDialog th29 " style="display:none;" >@item.DamagedSystem</td>
	<td class="DetailsDialog th30 " style="display:none;" >@item.ActionAlreadyTaken</td>
	<td class="DetailsDialog th31 " style="display:none;" >@item.Iocs</td>
	
                    </tr>
                    }



                    <tr class="FooterPage">
                        <th class="FinalPage trFullWidth" colspan="TOTAL_COUNT">
                            <div class="divbox headerRight">
                                <p>PrintedBy :test</p>
                                <p></p>
                            </div>
                            <div class="divbox">
                                <p>page: <span class='totalPage'></span> / <span class='totalPage'></span> <p>
                                <p></p>
                            </div>
                            <div class="divbox headerLeft">
                                <p>Printed Date :@DateTime.Now.ToShortDateString()</p>
                                <p></p>
                            </div>
                        </th>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>


 
</div>



<script type="text/javascript">
    $(window).on('load', function () {
        window.print();
       // window.close();
    });
     var printBy = "test";
         var printDate = "@DateTime.Now.ToShortDateString()";
         portieraiateCalc(TOTAL_COUNT, printBy, printDate);


	document.onkeydown = function (e) {

        if (event.keyCode == 123) {
            return false;
        }


        if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
            return false;
        }
    }


</script>


