@model Ivanti_FW.Models.RFI_INT04ModelReq

@{
    ViewBag.Title = EA.GetMessage("CREATE");
    //Layout = "~/Views/Shared/_LayoutWork.cshtml";
}


<style>
    .tooltip-master {
        display: none;
    }
</style>

@section toolbar{

    <div class="page-header mb-0">
        <div class="col-md-12">
            <div class="row align-items-end">
                <div class="col-xl-9">
                    <div class="d-flex page-header-element align-items-center">
                        <img src="//cdn.saudisystems.net/V4/assets/images/svgs/service_line/Indv/sims.svg" width="64" height="64" class="me-2">
                        <div>
                            <a href="/RFI_INT/RFI_INT04dashboard" class="back_btn pb-1 align-items-end mt-0 fs-12">
                                <i class="mutasil-icon mutasil-icon-40 fa-lg"></i>
                                @Html.GSText("BACK_TO_RFI_INT04")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<form asp-action="CreateRFI_INT04" asp-controller="RFI_INT" method="POST" data-ajax="true" data-ajax-complete="fnCompleted" class="CreatePage" id="RFI_INT04FrmID">

    @Html.AntiForgeryToken()


                            <!-- form start -->
                            <section class="form-horizontal center">
                                <div class="box-body">
                                    <div class="form-group">
	<label class="col-sm-4 control-label">@Html.GSText("MoreInformationResponse")</label>
		<div class="col-sm-8">
			@Html.ValidationMessageFor(model => model.RFI_INT04.MoreInformationResponse, "", new { @class = "text-danger" })
			@Html.TextAreaFor(model => model.RFI_INT04.MoreInformationResponse,  new { @class = "form-control mb-4", @placeholder = @Html.GSText("MoreInformationResponse"), @maxlength = 4000 ,@rows = 4 } )
		</div>
	</div>
	
				    
                                </div>

                            </section>
                      
<div class="modal-footer border-0 float-start">
         <button class="btn btn-primary btn-submit">@Html.GSText("ADD_RFI_INT04")</button>
        <a href="/RFI_INT/RFI_INT04dashboard" class="btn btn-outline-primary">@Html.GSText("Cancel")</a>
       
    </div>

   
       
</form>



    <script type="text/javascript">
	$(document).ready(function () {
	
	
  	});

     function fnCompleted(msg) {
        NotifyMsg(msg.responseJSON.statusTitle, msg.responseJSON.statusMessage, msg.responseJSON.status);
        setTimeout(function () {
            window.location.href = "/RFI_INT/RFI_INT04Dashboard";
        }, 1000);
    };
</script>
